body
{
    font-family: Verdana, Geneva, sans-serif;
}

button
{
    font-family: Verdana, Geneva, sans-serif;
}

.bookTable
{
    /* Remove the border from the table */
    border-collapse: collapse;
    margin: 10px;
}

.bookTable tr
{
    height: 2.5em;
}

.bookTable th
{
    text-align: left;
    margin-left: 50px;
    background-color: lightgray;
    border-collapse: collapse;
    padding: 10px 45px;
}

.bookTable td
{
    padding: 10px 45px;
}

.spaceTdBookTable
{
    width: 3em;
}

#mainDiv
{
    margin: 0 auto;
    width: 800px;
    background-color: #EEE;
}

